/****************************** 사이트 기본 설정 ******************************/
html { 
    scroll-behavior: smooth; 
  } 
  
  body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select,div,figure,article,header,nav,footer,section,pre{padding:0;-webkit-box-sizing:border-box;box-sizing:border-box;word-break:keep-all;word-wrap:break-word;white-space:normal;-webkit-text-size-adjust:100%;-moz-text-size-adjust:100%;-ms-text-size-adjust:100%;text-size-adjust:100%;max-height:1000000px}
  
  body,html{-webkit-tap-highlight-color:transparent !important}body,input,textarea,select,button,table,th,td,pre{color:#000;font-family:"Roboto","NotoSansCJKKR",sans-serif,"Malgun Gothic","Apple SD Gothic Neo";font-weight:400;line-height:1.5}h1,h2,h3,h4,h5,h6{font-weight:400}pre{white-space:pre-wrap}img,fieldset,iframe{border:0;vertical-align:top}textarea{-webkit-border-radius:0;-webkit-appearance:none;resize:none;border:none;overflow-y:auto}select{-webkit-appearance:none;-moz-appearance:none;appearance:none}select::-ms-expand{display:none}ul,ol{list-style:none}em,address{font-style:normal}input,select{border:none}input,textarea{border:0;-webkit-appearance:none;-moz-appearance:none;appearance:none;background:0;resize:none;outline:0}input[type=text]::-ms-clear{display:none}table{width:100%;border-collapse:separate;border-spacing:0}hr,legend{display:none}caption{position:absolute;width:1px;height:1px;margin:-1px;padding:0;overflow:hidden;clip:rect(0, 0, 0, 0);border:0}strong,b{font-weight:400}button{-webkit-box-sizing:border-box;box-sizing:border-box;border:none;background:none;cursor:pointer}a{color:inherit;text-decoration:none;-webkit-box-sizing:border-box;box-sizing:border-box}a,button{cursor:pointer}
  .img--pc,.br--pc,.pc--show{display:block !important}
  .img--mo,.br--mo,.mo--show{display:none !important}
  .dimmed{display:none;position:fixed;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,0.4);z-index:1000}
  .text-align--center{text-align:center !important}
  .text-align--left{text-align:left !important}
  .text-align--right{text-align:right !important}
  .font-weight--bold{font-weight:700 !important}
  .font-weight--regular{font-weight:400 !important}
  .font-weight--light{font-weight:300 !important}
  .font-color--white{color:#fff}
  .font-color--black{color:#fff}
  .font-color--emphasis{color:#00b5ed}
  .btn,.btn-wrap{display:inline-block}
  .btn-wrap+.btn-wrap{margin-left:24px}
  .btn-wrap+span.btn-wrap{margin-left:20px}
  .btn{display:-webkit-inline-box;display:-ms-inline-flexbox;display:inline-flex;position:relative;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;font-size:20px;line-height:24px;white-space:nowrap;vertical-align:middle}.btn[disabled]{color:#666 !important;background:#f8f8f8 !important;border-color:#f8f8f8 !important;cursor:default}
  
  .main-sustainability__link:focus:before{outline:3px dotted #333;outline-offset:-2px;-webkit-box-shadow:inset 0 0 0 1px #fff;box-shadow:inset 0 0 0 1px #fff}
  .main-news .main-news-list__title-text{width:100%;overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;line-height:1.5em;max-height:3em}
  .container.main{text-align:center}section[class*="main-"]{height:100vh;overflow:hidden}
  .main-title{font-size:32px;font-weight:700;line-height:48px;margin-top: 50px; margin-bottom: 50px; text-align: center;}
  .main-visual{position:relative}
  .main-visual__swiper .swiper-wrapper{height:100%}
  .main-visual__swiper-slide{height:100%}
  .main-visual__swiper-slide-inner{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;position:relative;width:100%;max-width:1920px;margin:0 auto;height:100%;padding:0 160px;color:#fff;text-align:left;z-index:1}
  .main-swiper-slide-active .main-visual__swiper-slide-inner{-webkit-animation-name:main-visual-swiper2;animation-name:main-visual-swiper2;-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-timing-function:linear;animation-timing-function:linear;-webkit-animation-fill-mode:forwards;animation-fill-mode:forwards}
  .main-visual__swiper-slide-bg{position:absolute;top:0;left:0;width:100%;height:100%;z-index:0;-webkit-transform:scale(1.2);transform:scale(1.2)}
  .main-visual__swiper-slide-bg img{width:100%;height
    :100%}
  .main-swiper-slide-active .main-visual__swiper-slide-bg{-webkit-animation-name:main-visual-swiper;animation-name:main-visual-swiper;-webkit-animation-duration:6s;animation-duration:6s;-webkit-animation-timing-function:linear;animation-timing-function:linear;-webkit-animation-fill-mode:forwards;animation-fill-mode:forwards}@-webkit-keyframes main-visual-swiper{from{-webkit-transform:scale(1);transform:scale(1)}to{-webkit-transform:scale(1.2);transform:scale(1.2)}}@keyframes main-visual-swiper{from{-webkit-transform:scale(1);transform:scale(1)}to{-webkit-transform:scale(1.2);transform:scale(1.2)}}@-webkit-keyframes main-visual-swiper2{from{opacity:0.5}to{opacity:1}}@keyframes main-visual-swiper2{from{opacity:0.5}to{opacity:1}}
  .main-visual .swiper-btn-wrap{position:absolute;bottom:200px;left:50%;max-width:1920px;width:100%;padding:0 160px;-webkit-transform:translateX(-50%);transform:translateX(-50%);z-index:1}
  .main-visual .swiper-btn-wrap [class*="swiper-button"]{display:none}
  .main-visual .swiper-btn-wrap .swiper-pagination-bullets{height:4px}
  .main-visual .swiper-btn-wrap .swiper-pagination-bullet{width:90px;height:4px;margin-left:8px;background:rgba(255,255,255,0.5)}
  .main-visual .swiper-btn-wrap .swiper-pagination-bullet:before{display:none}
  .main-visual .swiper-btn-wrap .swiper-pagination-bullet.swiper-pagination-bullet-active{background:#fff}
  .main-visual .swiper-btn-wrap .swiper-pagination-bullet.swiper-pagination-bullet-active:before{display:none}
  .main-visual .swiper-btn-wrap .swiper-button-prev+.swiper-pagination .swiper-pagination-bullet:nth-of-type(1){margin-left:0}
  .main-visual .swiper-btn-wrap .swiper-button-prev+.swiper-pagination .swiper-pagination-bullet:nth-last-of-type(1){margin-right:0}
  .main-visual .swiper-btn-wrap .swiper-autoplay{position:absolute;top:-14px;left:calc(50% + 155px)}
  .main-visual .main-scroll{z-index:1}
  
  /****************************** 폰트 설정 ******************************/
  
  @font-face {
    font-family: 'KIMM_Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/KIMM_Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
  }
  
  @font-face {
  font-family: 'KIMM_Light';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/KIMM_Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  }
  
  /****************************** 네비게이션 바 설정 ******************************/
    body{
      margin: 0;
    }
  
    a{
      text-decoration: none;
      color: white;
    }
  
    header {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 10;
    }
  
    .navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #4c6ef5;
      padding: 8px 12px;
    }
  
    .navbar__logo{
      font-size: 24px;
      color: white;
    }
  
    .navbar-menu {
      display: flex;
      list-style: none;
      padding-left: 0;
    }
  
    .navbar-menu li{
      padding: 8px 12px;
    }
  
    .navbar-menu li > a > div{
      position: relative;
    }
  
    .navbar-menu li > a > div.text-color{
      color: #000;
    }
  
    
  
    #container{
      color: #fff;
    }
  
    /**************************** 마우스 올릴시 글자 아래에 선이 생기는 설정  ****************************/
  
    .navbar-menu li > a > div::after{
      content: '';
      width: 0%;
      left: 50%;
      height: 1px;
      display: block;
      position: absolute;
      margin-top: 3px;
      border-bottom: 2px solid #fff;
      transition:all .3s ease;
    }
  
    .navbar-menu li:hover > a > div::after{
      content: '';
      width: 100%;
      left: 0px;
      height: 1px;
      display: block;
      position: absolute;
      margin-top: 3px;
      border-bottom: 2px solid #fff;
      transition:all .3s ease;
    }
  
    .navbar-toogleBtn{
      display: none;
      position: absolute;
      right: 32px;
      font-size: 24px;
    }

    .main-scroll__track{height:7.8125vw}
    .main-scroll__bar{height:2.60417vw}
    .header__inner{height:4.16667vw;padding:0vw 2.08333vw}
    .header__inner .logo{width:8.54167vw;height:2.08333vw}
    .header.bg--white .lnb__menu-btn:after{border-top-width:.3474vw}
    
    
    /********************** 사이트 레이아웃 설정 **********************/
    .layer-popup__wrap{max-height:48.17708vw;width:41.66667vw}
    .layer-popup__inner{padding:3.64583vw 2.60417vw 2.55208vw 2.60417vw}
    .layer-popup__title{font-size:1.66667vw;line-height:3.125vw}
    .layer-popup__content{margin-top:2.08333vw;max-height:31.04167vw}
    .layer-popup__content .btn--contained{max-width:12.5vw}
    .layer-popup__content .scroll-wrapper{max-height:31.04167vw;margin-right:-1.5625vw}
    .layer-popup__btn-bottom{padding:2.08333vw 0vw .52083vw 0vw}
    .layer-popup__btn-bottom .btn--contained{min-width:12.5vw}
    .layer-popup__close{top:1.04167vw;right:1.04167vw;width:2.60417vw;height:2.60417vw;background-size:1.5625vw 1.5625vw}
    .layer-popup .scrollbar-inner .scroll-element .scroll-element_outer,.layer-popup .scrollbar-inner .scroll-element .scroll-element_track,.layer-popup .scrollbar-inner .scroll-element .scroll-bar{border-radius:.41667vw}@media only screen and (max-width: 767px){.skip-navigation,.skip-popup{position:absolute;width:1px;height:1px;margin:-1px;padding:0;overflow:hidden;clip:rect(0, 0, 0, 0);border:0}}
    
    .main-scroll__track{height:60px}
    .main-scroll__bar{width:2px;height:20px;-webkit-animation-duration:1.2s;animation-duration:1.2s}
    .header__inner{display:block;position:relative;height:auto;min-height:54px;padding:0}
    .header .logo{position:absolute;top:18px;left:20px;width:104px;height:20px}
    .header.bg--white .lnb__menu-btn{border-top:1px solid #eaeaea;border-right:none}
    .header.bg--white .lnb__menu.depth1 .lnb__menu-btn{border-right:1px solid #eaeaea}
  
    /* 자기소개 옆에 올라오는 이미지 */
    .main-about__bg{
      position:absolute;
      right:0;
      bottom:0;
      width:539px;
      height:597px;
      background:url(../image/bg_about_pc.png) no-repeat left top;
      background-size:100% auto
    }

    /***********************   자기소개하는 구간 부분   ***********************/
    .main-about{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}
    .main-about__inner{position:relative;max-width:1600px;min-height:719px;width:100%;text-align:left}
    .main-about__inner .main-title{font-size:48px;line-height:63px;text-align:center}
    .main-about__text{margin-top:70px;height:597px}
    .main-about__title{font-size:48px;font-weight:300;line-height:63px}
    .main-about__title strong{font-weight:700}
    .main-about__title+.main-about__title{margin-top:6px}
    .main-about__title:first-child{margin-top:55px}
    .main-about__desc{font-size:20px;font-weight:300;line-height:32px}
    .main-about__title+.main-about__desc{margin-top:46px}.main-about__desc+.main-about__desc{margin-top:32px}
    .main-about__bg{position:absolute;right:0;bottom:0;width:539px;height:597px;background:url(../image/bg_about_pc.png) no-repeat left top;background-size:100% auto}
    .main-about .main-about__text,.main-about .main-about__bg{-webkit-transform:translate3d(0, 300px, 0);transform:translate3d(0, 300px, 0);-webkit-transition:all 1s ease-in-out .2s;transition:all 1s ease-in-out .2s}
    .main-about.is-active .main-about__text,.main-about.is-active .main-about__bg{-webkit-transform:translate3d(0, 0, 0);transform:translate3d(0, 0, 0)}
    
    /***********************   footer부분   ***********************/
    .title--depth1{font-size:32px;line-height:48px}
    .footer{position:relative;background-color:#000;z-index:10}.footer__inner{max-width:none;text-align:left}.footer__inner .footer__top{max-width:1920px;width:100%;margin:0 auto;padding:80px 160px}
    .footer__inner .site{display:-webkit-box;display:-ms-flexbox;display:flex;color:#fff;width: 150px; height:50px;margin-left:auto; margin-right:auto;}
    .footer__inner .footer__top{padding:4.16667vw 8.33333vw}
    .footer__inner .footer__top .logo{width:10.41667vw;height:2.08333vw}
    .footer__inner .site-map__depth1+.site-map__depth1{margin-left:6.25vw}
    .footer__inner .site-map__depth1-title{font-size:.83333vw;line-height:1.25vw}
    .footer__inner .footer__top{padding:40px 36px 29px 36px}
    .footer__inner .site-map{display:none}
    .footer__inner .footer__link{position:relative;padding:0;border-top:none}
    .footer__inner .footer__link-inner{padding:56px 0 0 0}
    .footer__inner .footer__link-list{padding:16px 36px 0 36px;border-top:1px solid rgba(255,255,255,0.2)}
    .footer__inner .footer__link-list li{display:inline-block;margin:16px 16px 0 0}
    .footer__inner .footer__link-list li a{font-size:14px;line-height:20px;color:#fff}
    .footer__language{right:auto;left:36px;bottom:auto;top:0}
    .footer .family-site{right:auto;left:152px;bottom:auto;top:0}
    .footer .family-site__layer{width:calc(100vw - 72px);max-width:303px;right:auto;left:-116px;z-index:11}
    .footer .family-site__layer-link{white-space:normal;word-wrap:break-word;word-break:break-word}
    .footer address,.footer .copyright{line-height:20px}
    .footer .address{padding:48px 36px 80px 36px}
    .footer .address span{display:block}
    .footer .copyright{margin-top:14px}
    .footer .copyright span{display:block}
    .footer .mark{padding:0 36px 52px 36px}
    #font_size{
      font-size: 50px;
    }
    
    @media (min-width: 576px) {
      .container-sm, .container {
        max-width: 600px;
      }
    }
    @media (min-width: 768px) {
      .container-md, .container-sm, .container {
        max-width: 720px;
      }
    }
    @media (min-width: 992px) {
      .container-lg, .container-md, .container-sm, .container {
        max-width: 960px;
      }
    }
    @media (min-width: 1200px) {
      .container-xl, .container-lg, .container-md, .container-sm, .container {
        max-width: 1140px;
      }
    }
    @media (min-width: 1400px) {
      .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
        max-width: 1320px;
      }
    }
    
      .px-4 {
        padding-right: 1.5rem !important;
        padding-left: 1.5rem !important;
      }
    
      .px-lg-5 {
        padding-right: 3rem !important;
        padding-left: 3rem !important;
      }
    
      .row {
        --bs-gutter-x: 1.5rem;
        --bs-gutter-y: 0;
        display: flex;
        flex-wrap: wrap;
        margin-top: calc(-1 * var(--bs-gutter-y));
        margin-right: calc(-0.5 * var(--bs-gutter-x));
        margin-left: calc(-0.5 * var(--bs-gutter-x));
      }
      .row > * {
        flex-shrink: 0;
        width: 100%;
        max-width: 100%;
        padding-right: calc(var(--bs-gutter-x) * 0.5);
        padding-left: calc(var(--bs-gutter-x) * 0.5);
        margin-top: var(--bs-gutter-y);
      }
      
      .col {
        flex: 1 0 0%;
      }
      
      .row-cols-auto > * {
        flex: 0 0 auto;
        width: auto;
      }
      
      .row-cols-1 > * {
        flex: 0 0 auto;
        width: 100%;
      }
      
      .row-cols-2 > * {
        flex: 0 0 auto;
        width: 50%;
      }
      
      .row-cols-3 > * {
        flex: 0 0 auto;
        width: 33.3333333333%;
      }
      
      .row-cols-4 > * {
        flex: 0 0 auto;
        width: 25%;
      }
      
      .row-cols-5 > * {
        flex: 0 0 auto;
        width: 20%;
      }
      
      .row-cols-6 > * {
        flex: 0 0 auto;
        width: 16.6666666667%;
      }
    
    
      .g-4,
    .gx-4 {
      --bs-gutter-x: 1.5rem;
    }
    
    .g-lg-5,
    .gx-lg-5 {
        --bs-gutter-x: 3rem;
      }
    
    .col-lg-2 {
        flex: 0 0 auto;
        width: 16.66666667%;
    }
    
    .col-md-6 {
        flex: 0 0 auto;
        width: 25%;
      }
    
      .text-center {
        text-align: center !important;
      }
    
      .mt-5 {
        margin-top: 3rem !important;
      }
  
      /* 화면 크기에 따른 네비게이션 바 글자 크기 설정 */
      @media screen and (min-width: 1200px) {
        .navbar__logo{
          text-size-adjust: 100%;
        }
    
        div{
          text-size-adjust: 100%;
        }
      }
  
      /*************************** 모바일로 볼수 있게 설정 ***************************/
      @media only screen and (max-width: 768px) {
        .main-visual__swiper {
            height: 100vh
        }
    
        .main-visual__swiper-slide-inner {
            padding: 0 36px
        }
    
        .main-visual__swiper-slide-title {
            font-size: 48px;
            line-height: 68px;
            text-align: center
        }
    
        .main-visual__swiper-slide-desc {
            margin-top: 17px;
            font-size: 20px;
            line-height: 32px;
            text-align: center
        }
    
        .main-visual .swiper-btn-wrap {
            bottom: 120px;
            padding: 0
        }
    
        .main-visual .swiper-btn-wrap .swiper-pagination-bullet {
            width: 60px
        }
    
        .main-visual .swiper-btn-wrap .swiper-autoplay {
            left: calc(50% + 118px)
        }
    
        .main-about {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            height: auto !important;
            padding: 76px 0 120px 0
        }
    
        .main-about__inner {
            max-width: none;
            min-height: none;
            width: 100%;
            padding: 0 36px;
            text-align: left
        }
    
        .main-about__inner .main-title {
            font-size: 32px;
            line-height: 43px;
            text-align: left
        }
    
        .main-about__text {
            margin-top: 43px;
            height: auto
        }
    
        .main-about__title {
            font-size: 40px;
            line-height: 52px
        }
    
        .main-about__title+.main-about__title {
            margin-top: 27px
        }
    
        .main-about__title:first-child {
            margin-top: 43px
        }
    
        .main-about__desc {
            font-size: 16px;
            line-height: 26px
        }
  
        .navbar{
          flex-direction: column;
          align-items: flex-start;
          padding: 8px 24px;
        }
  
        .navbar-menu {
            display: none;
            flex-direction: column;
            align-items: center;
            width: 100%;
        }
  
        .navbar-menu li {
            width: 100%;
            text-align: center;
        }
  
        .navbar-toogleBtn{
            display: block;
        }
  
        .navbar-menu.active{
            display: flex;
        }
        
        /* 자기소개 모바일 버전의 모습 */
        .main-about__bg {
            position: relative;
            right: auto;
            bottom: auto;
            width: 100%;
            max-width: 301px;
            height: 325px;
            margin: 32px auto 0 auto;
            background-image: url(../image/bg_about_pc.png)
        }
  
        /* skille 폰트 크기 설정 */
        .mb-2-1{
          font-size: 20px;
        }
    
        /* 프로젝트 설정 */
        .main-sustainability {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            height: auto !important
        }
    
        .main-sustainability__inner {
            width: 100%;
            padding-top: 116px
        }
    
        .main-sustainability__inner .main-title {
            padding: 0 36px
        }
    
        .main-sustainability__content {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            width: 100%;
            height: auto;
            margin-top: 47px
        }
    
        .main-sustainability__menu {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            position: relative;
            width: 100% !important;
            height: 200px !important;
            left: 0 !important;
            top: 0 !important
        }
    
        .main-sustainability__link {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            padding: 48px 36px
        }
    
        .menu1 .main-sustainability__link:after {
            background-image: url(../image/TETRIS.jpg)
        }
    
        .menu2 .main-sustainability__link:after {
            background-image: url(../image/Apple.jpg)
        }
    
        .menu3 .main-sustainability__link:after {
            background-image: url(../image/Netflix.jpg)
        }
    
        .menu4 .main-sustainability__link:after {
            background-image: url(../image/BattleField.jpg)
        }
    
        .menu5 .main-sustainability__link:after {
            background-image: url(../image/TIS.EDU.jpg)
        }
    
        .menu6 .main-sustainability__link:after {
            background-image: url(../image/JAVA.jpg)
        }
    
        .menu7 .main-sustainability__link:after {
            background-image: url(../image/portfolio.jpg)
        }
    
        .main-sustainability__title {
            text-align: center
        }
    }
  
      /* 594px 이하일때 크기 조절 */
      @media screen and (max-width: 594px) {
        .navbar__logo{
          -webkit-text-size-adjust : none;  /* 크롬, 사파리, 오페라(신) */
          -ms-text-size-adjust : none;  /* IE */
          -moz-text-size-adjust : none;  /* 파이어폭스 */
          -o-text-size-adjust : none;  /* 오페라(구)*/
          text-size-adjust: auto;
        }
    
        div{
          -webkit-text-size-adjust : none;  /* 크롬, 사파리, 오페라(신) */
          -ms-text-size-adjust : none;  /* IE */
          -moz-text-size-adjust : none;  /* 파이어폭스 */
          -o-text-size-adjust : none;  /* 오페라(구)*/
          text-size-adjust: auto;
        }
  
        /* skille 폰트 크기 설정 */
        .container{
          width: 400px;
        }
  
        .px-lg-5{
          padding-left: 0.5rem !important;
          padding-right: 0.5rem !important;
        }
  
        .col-md-6{
          width: 50%;
          flex: 0 0 auto;
        }
  
        .mb-2-1{
          font-size: 23px;
        }
      }